<div class="food-card">

  <div class="relative overflow-hidden">

    <img
  (click)="openDetails()"
  src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1000&auto=format&fit=crop"
  class="w-full h-72 object-cover hover:scale-110 transition duration-500 cursor-pointer"
/>

    <div class="absolute top-5 right-5 bg-white px-4 py-2 rounded-full shadow-lg text-orange-500 font-bold">
      $25
    </div>

  </div>

  <div class="p-6">

    <div class="flex justify-between items-center">

      <h2 class="text-2xl font-black text-gray-800">
        Italian Pizza
      </h2>

      <span class="text-yellow-400 font-bold">
        ⭐ 4.8
      </span>

    </div>

    <p class="text-gray-500 mt-4 leading-7">
      Delicious pizza with fresh cheese and spicy sauce.
    </p>

  <button
  (click)="addToCart()"
  class="gradient-btn w-full mt-6"
>
  Add To Cart
</button>
  </div>

</div>