<section class="container mx-auto px-6 py-32">

  <div class="bg-white rounded-3xl p-10 shadow-xl max-w-2xl mx-auto">

    <h1 class="text-4xl font-black mb-10">
      Checkout
    </h1>

    <div class="space-y-5">

      <input
        type="text"
        placeholder="Full Name"
        class="w-full p-4 border rounded-2xl"
      />

      <input
        type="text"
        placeholder="Address"
        class="w-full p-4 border rounded-2xl"
      />

      <
<button
  (click)="placeOrder()"
  class="w-full bg-orange-500 text-white p-4 rounded-2xl"
>
  Place Order
</button>
    </div>

  </div>

</section>