<section class="min-h-screen pt-32 bg-orange-50">

  <div class="container mx-auto px-6">

    <div class="grid lg:grid-cols-2 gap-10 items-center">

      <div>

        <h1 class="text-7xl font-black leading-tight text-gray-800">
          Delicious Food
          Delivered Fast
        </h1>

        <p class="mt-6 text-gray-500 text-lg">
          Order your favorite meals online easily.
        </p>

        <button class="mt-8 bg-orange-500 text-white px-8 py-4 rounded-2xl">
          Order Now
        </button>

      </div>

      <div>

        <img
          src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1000&auto=format&fit=crop"
          class="rounded-[40px] shadow-2xl"
        />

      </div>

    </div>

  </div>

</section>