<div class="fixed top-0 right-0 h-screen w-[420px] bg-white shadow-2xl z-50 p-6 overflow-y-auto">

  <div class="flex justify-between items-center mb-10">

    <h2 class="text-3xl font-black text-gray-800">
      Your Cart
    </h2>

    <button>
      <i class="bi bi-x-lg text-2xl"></i>
    </button>

  </div>

  <div class="space-y-6">

    <div class="flex gap-4 border-b pb-5">

      <img
        src="https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?q=80&w=1000&auto=format&fit=crop"
        class="w-24 h-24 rounded-2xl object-cover"
      />

      <div class="flex-1">

        <h3 class="font-black text-lg">
          Italian Pizza
        </h3>

        <p class="text-orange-500 font-bold mt-2">
          $25
        </p>

        <div class="flex items-center gap-4 mt-4">

          <button class="w-8 h-8 rounded-full bg-gray-200">
            -
          </button>

          <span>1</span>

          <button class="w-8 h-8 rounded-full bg-gray-200">
            +
          </button>

        </div>

      </div>

    </div>

  </div>

  <div class="mt-10 border-t pt-6">

    <div class="flex justify-between text-2xl font-black mb-6">
      <span>Total</span>
      <span>$120</span>
    </div>

    <button class="gradient-btn w-full">
      Checkout
    </button>
</div>